* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
  font-family: sans-serif;
}
header {
  background-color: #000;
  width: 100%;
  height: 680px;
}
header .header-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.part1 {
  background-color: #333;
  width: 100%;
}
.part1 .part1-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.part1 h3 {
  margin-top: 40px;
  margin-bottom: 16px;
}
.part1 p {
  margin-bottom: 40px;
}
.part2 {
  background-color: #000;
  width: 100%;
  height: 792px;
  overflow: hidden;
}
.part2 .part2-wrapper {
  width: 50%;
  margin: 0 auto;
}
.part3 {
  background-color: #333;
  width: 100%;
  height: 792px;
}
.part3 .part3-wrapper {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.poverlay {
  position: fixed;
  top: 0%;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.pwrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 80px;
}
.pwrapper .pheader-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  z-index: 3;
}
.pwrapper .pheader-wrapper .pheader {
  background-color: #121212;
}
.pwrapper .pheader-wrapper .pheader img {
  height: 52px;
  width: 154px;
  display: block;
  margin: 0 auto;
  padding: 9px 0;
}
.pwrapper .pheaderdiv {
  height: 70px;
}
.pwrapper .pbody .p1 {
  padding-top: 40px;
  background-image: url(../image/phone/pp2.png);
}
.pwrapper .pbody .p1 h2 {
  margin: 0 auto 11px;
  text-align: center;
}
.pwrapper .pbody .p1 .img-wrapper {
  width: 318px;
  height: 318px;
  margin: 0 auto;
  position: relative;
}
.pwrapper .pbody .p1 .img-wrapper img {
  width: 100%;
  position: absolute;
}
.pwrapper .pbody .p1 .sign {
  width: 358px;
  height: 60px;
  border: 1px solid white;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.pwrapper .pbody .p1 .sign:nth-of-type(3) {
  margin-bottom: 40px;
}
.pwrapper .pbody .p1 .sign h3 {
  text-align: center;
  line-height: 62px;
}
.pwrapper .pbody .p1 .game-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../image/phone/gamebg.png);
  background-size: cover;
}
.pwrapper .pbody .p1 .game-wrapper .game img {
  display: block;
  margin: 0 auto;
  height: 54px;
}
.pwrapper .pbody .p1 .game-wrapper .game p {
  text-align: center;
}
.pwrapper .pbody .p2 {
  padding-top: 40px;
  background-color: #121212;
}
.pwrapper .pbody .p2 h2 {
  margin: 0 auto 40px;
  text-align: center;
}
.pwrapper .pbody .p2 .pd {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pwrapper .pbody .p2 .pd div img {
  display: block;
  height: 154px;
  margin: 0 auto;
  margin-bottom: 12px;
}
.pwrapper .pbody .p2 .pd div p {
  text-align: center;
}
.pwrapper .pbody .p2 .pd div p:first-of-type {
  margin-bottom: 6px;
}
.pwrapper .pbody .p2 .pd div p:last-of-type {
  margin-bottom: 16px;
}
.pwrapper .pbody .p2 .pd div .playnow {
  width: 109px;
  height: 44px;
  line-height: 44px;
  border-radius: 44px;
  border: 1px solid white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}
.pwrapper .pbody .p3 {
  background-image: url(../image/phone/p3bg.png);
  background-position: center;
  padding-top: 40px;
}
.pwrapper .pbody .p3 h2 {
  text-align: center;
}
.pwrapper .pbody .p3 .img-wrapper {
  height: 300px;
  width: 281px;
  margin: 0 auto;
  position: relative;
}
.pwrapper .pbody .p3 .img-wrapper img {
  position: absolute;
  width: 100%;
}
.pwrapper .pbody .p3 .img-wrapper2 {
  width: 250px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.pwrapper .pbody .p3 .img-wrapper2 .img {
  height: 100%;
  display: block;
}
.pwrapper .pbody .p3 .img-wrapper2 .img img {
  height: 100%;
}
.pwrapper .pbody .p3 .word1 {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 24px;
}
.pwrapper .pbody .p3 .word2 {
  width: 358px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 44px;
  line-height: 30px;
}
.pwrapper .pbody .p4 {
  background-image: url(../image/phone/soccer_bg1.png);
  background-position: center;
  padding-top: 40px;
}
.pwrapper .pbody .p4 h2 {
  text-align: center;
}
.pwrapper .pbody .p4 .img-wrapper {
  height: 300px;
  width: 281px;
  margin: 0 auto;
  position: relative;
  margin-top: 24px;
  margin-bottom: 67px;
}
.pwrapper .pbody .p4 .img-wrapper img {
  position: absolute;
  width: 100%;
}
.pwrapper .pbody .p4 .word1 {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 24px;
}
.pwrapper .pbody .p4 .word2 {
  width: 358px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 44px;
  line-height: 30px;
}
.pwrapper .pbody .p5 {
  background-image: url(../image/phone/p5bg.png);
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 36px;
}
.pwrapper .pbody .p5 h2 {
  text-align: center;
}
.pwrapper .pbody .p5 .img-wrapper {
  height: 300px;
  width: 281px;
  margin: 0 auto;
  position: relative;
  margin-top: 24px;
  margin-bottom: 67px;
  overflow: hidden;
}
.pwrapper .pbody .p5 .img-wrapper img {
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
}
.pwrapper .pbody .p5 .img-wrapper .pc {
  top: 50%;
  left: 55%;
  width: 150%;
}
.pwrapper .pbody .p5 .img-wrapper .ph {
  left: 10%;
  top: 67%;
  width: 70%;
}
.pwrapper .pbody .p5 .img-wrapper .coin {
  left: 85%;
  top: 70%;
  width: 50%;
}
.pwrapper .pbody .p5 .word1 {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 24px;
}
.pwrapper .pbody .p5 .word2 {
  width: 358px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  line-height: 30px;
}
.pwrapper .pbody .p5 .border {
  width: 358px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
  border-radius: 60px;
  border: 1px solid white;
}
.pwrapper .pbody .p6 {
  padding-top: 41px;
  padding-bottom: 41px;
  background-color: #121212;
}
.pwrapper .pbody .p6 .logo-wrapper {
  width: 360px;
  margin: 0 auto;
}
.pwrapper .pbody .p6 .logo-wrapper .logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pwrapper .pbody .p6 .logo-wrapper .logos .logo img {
  display: block;
  margin: 0 auto;
  width: 80%;
}
.pbg {
  display: none;
  padding-top: 24px;
  padding-bottom: 44px;
  background-image: url(../image/bg.png);
}
.pbg h2 {
  text-align: center;
  margin-bottom: 24px;
  color: white;
}
.pbg .app {
  margin: 24px auto;
}
.pbg .app img {
  display: block;
  margin: 0 auto;
}
.pfooter {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-image: url(../image/phone/footbg.png);
  z-index: 10;
  margin-top: 80px;
}
.pfooter p {
  text-align: center;
}
.scWrapper {
  width: 264px;
  height: 448px;
  margin: 0 auto;
}
.swiper-container {
  /* 輪播長和寬 */
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: transparent;
}
.swiper-slide img {
  width: 100%;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  position: absolute;
  bottom: -2px;
}
@media screen and (max-width: 576px) {
  .all {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .poverlay {
    display: none;
  }
  .pwrapper {
    display: none;
  }
  .pfooter {
    display: none;
  }
}
